.wrapper {
    height: 100%;
    box-sizing: padding-box;
    background: url(source/image/header-background.png) top center /cover no-repeat;
}

.container {
    max-width: 1500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
    margin-top: -20px;
}

.subtitle {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
}